<footer class="bg-body-tertiary text-white text-center py-3" data-bs-theme="dark">
    <p>&copy; My Footer 2023</p>
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            <a href="#" class="fab fa-github"></a> GitHub
        </li>
        <li class="list-inline-item">
            <a href="#" class="fab fa-facebook"></a> Facebook
        </li>
        <li class="list-inline-item">
            <a href="#" class="fab fa-twitter"></a> Twitter
        </li>
    </ul>
</footer>
